
@{
    ViewBag.Title = "Calculadora";
}

<h2>A minha calculadora maravilhosa</h2>


@using(Html.BeginForm())
{
    @* <form></form> : faz o mesmo*@

<table>
    <tr>
        <td colspan="5">
            <input type="text" id="visor" name="visor" readonly="readonly" value="@ViewBag.Resposta" />
        </td>
    </tr>
    <tr>
        <td>    <input type="submit" name="bt"  value="7" />  </td>
        <td>    <input type="submit" name="bt"  value="8" />  </td>
        <td>    <input type="submit" name="bt"  value="9" />  </td>
        <td>    <input type="submit" name="bt"  value=":" />  </td>
        <td>    <input type="submit" name="bt"  value="+/-" />  </td>
    </tr>
    <tr>
        <td>    <input type="submit" name="bt"  value="4" />  </td>
        <td>    <input type="submit" name="bt"  value="5" />  </td>
        <td>    <input type="submit" name="bt"  value="6" />  </td>
        <td>    <input type="submit" name="bt"  value="x" />  </td>
        <td>    <input type="submit" name="bt"  value="C" />  </td>
    </tr>
    <tr>
        <td>    <input type="submit" name="bt"  value="1" />  </td>
        <td>    <input type="submit" name="bt"  value="2" />  </td>
        <td>    <input type="submit" name="bt"  value="3" />  </td>
        <td>    <input type="submit" name="bt"  value="-" />  </td>
        <td rowspan="2" >    <input type="submit" id="subm1" name="bt"  value="=" />  </td>
    </tr>
    <tr>
        <td colspan="2" >    <input type="submit" id="subm2" name="bt"  value="0" />  </td>
        <td>    <input type="submit" name="bt"  value="," />  </td>
        <td>    <input type="submit" name="bt"  value="+" />  </td>
    </tr>
</table>
}

